
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h4>Yeni Admin Ekleme</h4>
    <br />
    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanici Adi" />
    <br />
    <input type="text" name="Sifre" class="form-control" placeholder="Şifre" />
    <br />
    <button class="btn btn-dark">Kaydet</button>

</form>
