
@{
    ViewBag.Title = "YetenekEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h4>Yeni Yetenek Ekleme</h4>
    <br />
    <input type="text" name="Yetenekler" class="form-control" placeholder="Yeteneğinizi Yazınız" />
    <br />
    <input type="text" name="Oran" class="form-control" placeholder="Oran giriniz örn: 75" />
    <br />
    <button class="btn btn-dark">Kaydet</button>

</form>

