@model BusranurCirikCv.Models.Entity.TblEgitimlerim

@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h4>Yeni Eğitim Ekleme</h4>
    <br />
    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı Yazınız" />
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "color: red" })
    <br />
    <input type="text" name="AltBaslik1" class="form-control" placeholder="Açıklama1" />
    <br />
    <input type="text" name="AltBaslik2" class="form-control" placeholder="Açıklama2" />
    <br />
    <input type="text" name="GNO" class="form-control" placeholder="GNO" />
    @Html.ValidationMessageFor(x => x.GNO, "", new { @style = "color: red" })
    <br />
    <input type="text" name="Tarih" class="form-control" placeholder="Çalışma Tarihi örn: Mayıs 2022 - Temmuz 2023" />
    <br />
    <button class="btn btn-dark">Kaydet</button>

</form>
